body {
  box-sizing: border-box;
  font-family: 'Metrophobic', sans-serif;
  height: 100%;
  margin: 0, auto;
}

html {
  background: url('https://stmed.net/sites/default/files/dallas-cowboys-wallpapers-31003-1576803.jpg') no-repeat center center fixed; 
  background-size: cover;
  height: 100%;
}

h1 {
  color: white;
  background-color: gray;
  text-align: center;
  font-size: 60px;
}

h2 {
  color: white;
  background-color: gray;
  text-align: center;
  font-size: 24px;
  padding: 2%;
}

#start-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#question-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#container {
  height: 100%;
}

label {
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 24px;
}

label:nth-child(1), label:nth-child(2), label:nth-child(3), label:nth-child(4) {
    background-color: rgba(0, 18, 184, .7)
}

button {
  display: block;
  height: 60px;
  width: 200px;
  margin-bottom: 28px;
  padding: 8px 6px;
  font-size: 32px;
  border: none;
  background-color: black;
  color: #ffedfc;
  border-radius: 5px;
}

button:hover {
  background-color: blue;
  cursor: pointer;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10%;
  min-height: 500px;
  border: none;
}

label {
  margin-bottom: 16px;
  font-size: 24px;
}

.answer {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

#js-submit-button {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

#status-bar {
  background-color: gray;
  padding: 2%;
  margin-top: 1%;
}

#question-count, #score-count {
  display: inline-block;
  font-size: 20px;
}

#score-count {
  float: right;
}

.feedback-page {
  display: flex;
  flex-direction: column;

}

#js-next-button {
  margin: 20px auto;
}

#js-restart-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 160px;
}

@media only screen and (min-width: 320px) {
  #question-count, #score-count {
    display: inline-block;
    font-size: 28px;
    margin-top: 0;
    margin-right: 10px;
  }

  #score-count {
    float: right;
  } 

  h2 {
  font-size: 32px;
  margin-top: 48px;
  }

  label {
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 640px) {
  .feedback-page img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 960px) {
  .feedback-page h2 {
    margin-left: auto;
    margin-right: auto;
  }

  form {
    padding: 64px 112px 0;
  }

  #question-count {
    padding-left: 128px;
    padding-bottom: 40px;
  }

  #score-count {
    padding-right: 128px;
    padding-bottom: 40px;
  }
}

